body {
	background: white;
}

ul{
	background-color:  #3385ff;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
}

body{
	margin: 0px;
	background-image: url("/Pictures/Slideshow1.1.jpg");
}

#logo {
max-width: 5vw;
}

#aboutTitle{
	background-color: #333333;
	max-width: 100%;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px;
	padding-bottom:7px;
}




#logtimContainer{
	margin-right: 0px;
	background-color:  #3385ff;
}

#menuContainer{
	height: 0px;
}

#time{
	float: right;
	position: relative;
}

#times{
	float = right: 
	margin-top: 25px;
	font-weight: bolder;
	font-size: 25px;
}

.headerUl{
	text-align: center;

	margin-right: 10px;
	max-width: 100%;
	height: 79px;
}

.headerLi{
	display: inline-block;
	/*padding-top: 30px;*/
	color: white;
}

.dropbtn{
	background-color: #3385ff;
	color: white;
	padding: 25px;
	font-size: 25px;
	border: none;
	cursor: pointer;
	width: 180px;
}


.dropbtn:hover{
	background-color: #99c2ff;
}

.dropbtn:hover .dropdownContents{
	display:block;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdownContents{
	display: none;
	position: absolute;
	background-color: #0066ff;
	/*min-width: 160px;*/
	width: 180px;
	text-align: center;

}

.dropdownContents a {
	color: white;
	padding: 10px 10px;
	min-width: 160px;
	text-decoration: none;
	display: block;
}

.dropdownContents a:hover {
	background-color: #99c2ff;
}


.show{display: block;}


.AdvImg{
	max-width: 20vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	float:right;

}

.AdvHolder{
	max-width: 900px;
	height: 210px;
	margin-top: 15px
	padding : auto;
	

}

.AdvHolder .AdvContents{
	
	margin: auto;
	
}


.AdvContents{
	padding-left: 20px;
	padding-right: 20px;
	width: 40%;
	height: 200px;
	display: inline-block;
	margin-top: 15px
	

}

.FirstAdv{
	padding-top: 10px;
	padding-left: 40px;
	margin-left: 25px;
}
#One{
	float: left;
	
}

.AdvHolder p{
	margin-top: 20px;
	padding-left: 15px;
	font-family: arial;
}

#NeedBGColor{
	background-color: white;
	}

/*================================================================*/
#NeedBG1Color{
	background-color: white;
	}


	.AdvImg1{
	max-width: 25vw;
	padding: 10px;
	float: right;
	margin-left: 10px;


}

.AdvHolder1{
	max-width: 900px;
	height: 210px;
	margin-top: 15px
	padding : auto;
	
}
.AdvContents1{
	padding-left: 20px;
	margin-right: 100px;
	height: 150px;
	display: inline-block;
	margin-left: 100px;
	background-color: white;
	

}

.FirstAdv1{
	padding-top: 10px;
	padding-left: 10px;
	margin-right: 15px;

}
#One1{
	float: right;
	
}

.AdvHolder p{
	margin-top: 20px;
	padding-left: 15px;
}

.SosmedIcon{
	height: 40px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#IconHolder{
	text-align: center;
}

.Footer{
	background-color: #333333;
	color: white;
	max-width: 100%;
}

#UpperFooter{
	height: 220px;
}

#LowerFooter{
	height: 60px;
}

#LowerFooter p{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
}

.FooterTitle{
	text-decoration: underline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#SosmedTitle{
	margin-top: 65px;
}

#Left{
	float: left;
}

#ContactHolder{
	text-align: center;
}

#ContactHolder p{
	margin: 0px;
}

.FooterContents{
	margin-top: auto;
	margin-bottom: auto;
	width: 50%;
	height: 220px;
	display: inline-block;
}

/*================================================================*/
h1{
	color: white;
}

.Story1 {
	width: 65%;
	height: 1165px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-right: 25px;
	background-repeat: no-repeat;
	background-size: 450px 400px;
	background-color: white;
	padding-left: 50px;
	text-align: center;
	float: center;
	
}




.Story2 {
	
	height: 600px;
	
	
	padding-top: 25px;
	padding-right: 25px;
	background-repeat: no-repeat;
	background-size: 400px 450px;
	background-color:  #3385ff;
	padding-left: 50px;
	text-align: center;
	float: center;
	
}

/*================================================================*/


.Story4 {
	
	height: 300px;
	margin-top: 30px;
	padding-top: 25px;
	/*margin-bottom: 30px;*/
	background-repeat: no-repeat;
	background-size: 450px 400px;
	background-position: left;
	background-color:  #3385ff;
	padding-left: 50px;
	text-align: left;
	padding: 0px;
}

.Story1 p{
	font-family: arial;
	
}

.Story4 p{
	padding-top: 1vw;
	font-family: arial;
	margin-bottom: 0px;
}

.putih{
	color: white;
}