body {
	background: #313131;
}

ul{
	background-color:  #3385ff;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
}

body{
	margin: 0px;
	background-image: url("/Pictures/Slideshow1.1.jpg");
}


#logtimContainer{
	margin-right: 0px;
	background-color:  #3385ff;
}

#menuContainer{
	height: 0px;
}

#time{
	float: right;
	position: relative;
}

#times{
	float = right: 
	margin-top: 25px;
	font-weight: bolder;
	font-size: 25px;
}

.headerUl{
	text-align: center;

	margin-right: 10px;
	max-width: 1366px;
	height: 79px;
}

.headerLi{
	display: inline-block;
	/*padding-top: 30px;*/
	color: white;
}

.dropbtn{
	background-color: #3385ff;
	color: white;
	padding: 25px;
	font-size: 25px;
	border: none;
	cursor: pointer;
	width: 180px;
}


.dropbtn:hover{
	background-color: #99c2ff;
}

.dropbtn:hover .dropdownContents{
	display:block;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdownContents{
	display: none;
	position: absolute;
	background-color: #0066ff;
	/*min-width: 160px;*/
	width: 180px;
	text-align: center;

}

.dropdownContents a {
	color: white;
	padding: 10px 10px;
	min-width: 160px;
	text-decoration: none;
	display: block;
}

.dropdownContents a:hover {
	background-color: #99c2ff;
}


.show{display: block;}

.Story1 {
	width: 75%;
	
	margin: auto;
	padding-top: 25px;
	background-repeat: no-repeat;
	background-size: 450px 400px;
	background-position: left;
	background-color: lightblue;
	padding-left: 50px;
	text-align: left;
}


h1{
	color: lightblue;
}

.Story2 {
	width: 75%;
	
	padding-top: 25px;
	background-repeat: no-repeat;
	background-size: 450px 400px;
	background-position: left;
	background-color: lightblue;
	padding-left: 50px;
	text-align: left;
	
}


.Story3 {
	width: 75%;
	
	margin: auto;
	padding-top: 25px;
	background-repeat: no-repeat;
	background-size: 450px 400px;
	background-position: left;
	background-color: lightblue;
	padding-left: 50px;
	text-align: right;
	
}

.Story4 {
	width: 75%;
	
	margin: auto;
	padding-top: 25px;
	background-repeat: no-repeat;
	background-size: 450px 400px;
	background-position: left;
	background-color: lightblue;
	padding-left: 50px;
	text-align: left;
}



