body {
	background: #313131;
}

ul{
	background-color:  #3385ff;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
}

body{
	margin: 0px;
	background-image: url("/Pictures/Slideshow1.1.jpg");
	color: white;
}

#HeaderLogo{
	max-height: 79px;
	max-width: 79px;
}


#logtimContainer{
	margin-right: 0px;
	background-color:  #3385ff;
}

#menuContainer{
	height: 0px;
}

#time{
	float: right;
	position: relative;
}

.headerUl{
	text-align: center;

	margin-right: 10px;
	max-width: 1366px;
	height: 79px;
}

.headerLi{
	display: inline-block;
	/*padding-top: 30px;*/
	color: white;
}

.dropbtn{
	background-color: #3385ff;
	color: white;
	padding: 25px;
	font-size: 25px;
	border: none;
	cursor: pointer;
	width: 180px;
}


.dropbtn:hover{
	background-color: #99c2ff;
}

.dropbtn:hover .dropdownContents{
	display:block;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdownContents{
	display: none;
	position: absolute;
	background-color: #0066ff;
	/*min-width: 160px;*/
	width: 180px;
	text-align: center;

}

.dropdownContents a {
	color: white;
	padding: 10px 10px;
	min-width: 160px;
	text-decoration: none;
	display: block;
}

.dropdownContents a:hover {
	background-color: #99c2ff;
}


.show{display: block;}

.SosmedIcon{
	height: 40px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#IconHolder{
	text-align: center;
}

.Footer{
	background-color: #333333;
	color: white;
}

#UpperFooter{
	height: 220px;
}

#LowerFooter{
	height: 60px;
}

#LowerFooter p{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
}

.FooterTitle{
	text-decoration: underline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#SosmedTitle{
	margin-top: 65px;
}

#Left{
	float: left;
}

#ContactHolder{
	text-align: center;
}

#ContactHolder p{
	margin: 0px;
}

.FooterContents{
	margin-top: auto;
	margin-bottom: auto;
	width: 50%;
	height: 220px;
	display: inline-block;
}

.slider1 {
	width: 100%;
	height: 600px;
	background: url("../Pictures/Toko5.png");
	animation: slide1 20s infinite;
	background-repeat: no-repeat;
	background-size: 100% 600px;
}

.SlideshowTitle{
	padding-top: 10px;
}

@keyframes slide1 {
	25% {
		background: url("../Pictures/Toko4.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	50% {
		background: url("../Pictures/Toko3.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	75% {
		background: url("../Pictures/Toko2.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	100% {
		background: url("../Pictures/Toko1.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}


.slider2 {
	width: 100%;
	height: 600px;
	background: url("../Pictures/WhiteUp.jpg");
	animation: slide2 60s infinite;
	background-size: 100% 600px;
}

@keyframes slide2 {
	10% {
		background: url("../Pictures/Mill.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	20% {
		background: url("../Pictures/Vanish.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	30% {
		background: url("../Pictures/BayclinLemon.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	40% {
		background: url("../Pictures/BayclinPutih.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	50% {
		background: url("../Pictures/Rinso.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	60% {
		background: url("../Pictures/DaiaFloral.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	70% {
		background: url("../Pictures/DaiaPutih.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	80% {
		background: url("../Pictures/SoKlinUngu.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	90% {
		background: url("../Pictures/SoKlinPink.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	100% {
		background: url("../Pictures/WhiteUp.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}

.SlideshowTitle{
	text-align: center;
}

@media only screen and (max-width: 700px){

	body{
		font-size: 2vw;
	}

	.AdvTitle{
		font-size: 3vw;
	}

	.AdvImg{
		max-width: 10vw;
		display: block;
		margin-top: 20%;
		margin-left: auto;
		margin-right: auto;
	}

	#ContactHolder{
		margin-top: 10%;
	}

	.ContentsTitle h1{
		font-size: 3vw;
	}

	.CoverageArea img{
		max-width: 100%;	
	}

	.slider1{
		max-width: 100%;
	}

	.slider2{
		max-width: 100%;
	}
} 
