ul{
	background-color:  #3385ff;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
}

body{
	margin: 0px;
}


#logtimContainer{
	margin-right: 0px;
	background-color:  #3385ff;
}

#menuContainer{
	height: 0px;
}

#Briefpict{
	max-width: 1366px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Briefholder{
	background-color:  aqua;
}

#time{
	float: right;
	position: relative;
}

#times{
	margin:  0px;
	font-weight: bolder;
	font-size: 25px;
}

.headerUl{
	text-align: center;

	margin-right: 10px;
	max-width: 1366px;
	height: 79px;
}

.headerLi{
	display: inline-block;
	padding-top: 30px;
}

.dropbtn{
	background-color: #3385ff;
	color: white;
	padding: 25px;
	font-size: 25px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover{
	background-color: #99c2ff;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdownContents{
	display: none;
	position: absolute;
	background-color: #0066ff;
	min-width: 160px;
	text-align: center;
}

.dropdownContents a {
	color: white;
	padding: 10px 10px;
	min-width: 160px;
	text-decoration: none;
	display: block;
}

.dropdownContents a:hover {
	background-color: #99c2ff;
}

.show{display: block;}

