ul{
	background-color:  #3385ff;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
}

body{
	color: white;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: white;
	background-size: cover;
}

#HeaderLogo{
	max-height: 79px;
	max-width: 79px;
}


.header{
	font-size: 2vw;
}


#logtimContainer{
	margin-right: 0px;
	background-color:  #3385ff;
	max-width: 100%;
}

#menuContainer{
	height: 0px;
}

#Briefpict{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Briefholder{
	background-color:  aqua;
}

#time{
	float: right;
	position: relative;
}

#times{
	margin:  0px;
	font-weight: bolder;
	font-size: 2vw;
}

.headerUl{
	text-align: center;

	margin-right: 10px;
	max-width: 1366px;
	height: 79px;
}

.headerLi{
	display: inline-block;
	padding-top: 30px;
}

.dropbtn{
	background-color: #3385ff;
	color: white;
	padding: 25px;
	font-size: 2vw;
	border: none;
	cursor: pointer;
	max-width: 180px;
}


.dropbtn:hover{
	background-color: #99c2ff;
}

.dropbtn:hover .dropdownContents{
	display:block;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdownContents{
	display: none;
	position: absolute;
	background-color: #0066ff;
	/*min-width: 160px;*/
	max-width: 180px;
	text-align: center;

}

.dropdownContents a {
	color: white;
	padding: 10px 10px;
	max-width: 160px;
	text-decoration: none;
	display: block;
}

.dropdownContents a:hover {
	background-color: #99c2ff;
	font-size: 2vw;
}



.show{display: block;}

.SosmedIcon{
	height: 40px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#IconHolder{
	text-align: center;
}

.Footer{
	background-color: #333333;
	color: white;
}

#UpperFooter{
	height: 220px;
}

#LowerFooter{
	height: 60px;
}

#LowerFooter p{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
}

.FooterTitle{
	text-decoration: underline;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#SosmedTitle{
	margin-top: 65px;
}

#Left{
	float: left;
}

#ContactHolder{
	text-align: center;
}

#ContactHolder p{
	margin: 0px;
}

.FooterContents{
	margin-top: auto;
	margin-bottom: auto;
	width: 50%;
	height: 220px;
	display: inline-block;
}

.Order {
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 480px;
	background-color: #333333;
	left: 50%;
	top: 50%;
	/*transform: translate(-50%, -50%);*/
	color: white;

}

.Order img{
	max-height: 55px;
	max-width: 55px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 46px;
	border-bottom: 5px solid #3385ff;
}

.avatar {
	width: 100px;
	height: 100px;
}

/*.Order .Title {
	margin-left: auto;
	margin-right: auto;
}*/

.Order h1 {
	 font-size: 50px;
	 float: left;
	 border-bottom: 5px solid #3385ff;
	 margin-bottom: 15px;
	 padding: 5px 0;
	 margin-left: 95px;
}

.textbox {
	overflow: hidden;
	width: 100%;
	padding: 5px 0;
	font-size: 25px;
	margin: 5px 0;
	border-bottom: 2px solid #3385ff;
}



.textbox input {
	border: none;
	background: none;
	outline: none;
	color: white;
	font-size: 15px;
	width: 100%;
	float: left;
	margin: 0 5px;
}

.textbox textarea {
	border: 1px solid #3385ff;
	background: none;
	outline: none;
	color: white;
	font-size: 15px;
	max-height: 50px;
	width: 98%;
	float: left;
	margin: 0 1.5px;
	resize: none;
	
}

.PromoCode {
	color: white;
	margin: 30px 0;
}

.PromoCode p {
	background-color: none;
	width: 100%;
	font-style: italic;
	font-size: 14px;
	
}

.PromoCode select {
	border: none;
	background: #3385ff;
	outline: none;
	color: white;
	font-style: bold;
	font-size: 13px;
	width: 100%;
	float: left;
	margin: 5px 0;
}

.btn {
	width: 100%;
	background-color: #99c2ff;
	border: 5px solid #3385ff;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 20px 0;
}

::placeholder{
	color:white;
	opacity: 0.4;
	font-size: 14px;
	font-family: sans-serif;
}

@media only screen and (max-width: 700px){

	body{
		font-size: 2vw;
	}

	.textbox textarea {
		max-width: 96%;
	}

	.AdvImg{
		max-width: 10vw;
		display: block;
		margin-top: 20%;
		margin-left: auto;
		margin-right: auto;
	}

	#ContactHolder{
		padding-top: 10%;
	}

	.PromoCode select {
		border: none;
		background: #3385ff;
		outline: none;
		color: white;
		font-style: bold;
		font-size: 2vw;
		max-width: 100%;
		float: left;
		margin: 5px 0;
	}

	.PromoCode option{
		max-width: 25%;
	}

	.Order {
		max-width: 75%;
		margin-bottom: 10%
	}
	.Order h1 {
		 font-size: 4vw;
	}
} 

